<ng-template #confTemplate>{{confMessage}}
  <div style="min-width:100px; pointer-events: auto" class="p-2">
    <button type="button" class="btn mr-2 btn-danger" (click)="delete()">{{confirmLabel}}</button>
    <button type="button" class="btn btn-warning" (click)="confTemplateBox.hide()">{{rejectLabel}}</button>
  </div>
</ng-template>
<button type="button" class="btn btn-danger mx-1 pull-right" #confTemplateBox="bs-tooltip"
        [tooltip]="confTemplate" triggers="click">
  <span [hidden]="icon != ''">{{buttonLabel}}</span>
  <i [ngClass]="icon"></i>
</button>
