.loading-backdrop {
  background: rgba(0,0,0,.1);
  width: 100%;
  height: 100%;
  z-index: 999499;
  position: fixed;
  top: 0;
  left: 0;
}

.loading-box {
  position: fixed;
  left: 48%;
  top: 35%;
  z-index: 999500;
}

.loading-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

[hidden] {
  display: none !important;
}
