<div class="row animated fadeInRight">
  <div class="col">
    <div class="card mb-4" [ngSwitch]="sv.sr.resultType">
      <app-search-results-contacts [sv]="sv" *ngSwitchCase="'CONTACTS'"></app-search-results-contacts>
      <app-search-results-quote [sv]="sv" *ngSwitchCase="'QUOTES'"></app-search-results-quote>
      <app-search-results-prospects [sv]="sv" *ngSwitchCase="'PROSPECTS'"></app-search-results-prospects>
      <app-search-results-customers [sv]="sv" *ngSwitchDefault> </app-search-results-customers>
    </div>
  </div>
</div>
