<div class="modal-header">
  <h2 class="modal-title pull-left">{{title}}</h2>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="col-xs-12 col">
    <label><strong>{{label}} <small>max size: {{maxSize / 1000}} kb</small></strong></label><br>
    <input type="file" name="file" accept="image/*, application/pdf" placeholder="Select Signed Quote" (change)="uploadService.fileChange($event, updateFile())"><br>
    <small class="text-danger" *ngIf="signedQuoteFile && signedQuoteFile.size > maxSize">File size too big {{signedQuoteFile.size / 1000}}</small>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="bsModalRef.hide()">Cancel</button>
  <button type="button" class="btn btn-success" (click)="upload()">Upload</button>
</div>
