<app-delete-confirmation
  *ngIf="displayAction"
  [deleteFn]="delete"
  [icon]="'fa fa-trash'"
  [hidden]="!canDelete()"
  data-toggle="tooltip"
  title="Delete Note"></app-delete-confirmation>
<button type="button" class="btn  btn-warning pull-right" tooltip="Edit Note" (click)="edit()"
        *ngIf="displayAction">
  <i class="fa fa-edit"></i></button>
