<div class="col-md">
  <div class="mb-3">
    <div class="card-body">
      <p class="card-text" *ngFor="let contact of contacts; let i = index;">
        <strong>{{contact.firstName}} {{contact.lastName}}</strong>
        <span *ngIf="contact.title"> | {{contact.title}}</span>
        <span *ngIf="contact.email"> | <a href="mailto:{{contact.email}}">{{contact.email}}</a></span>
        <span *ngIf="contact.primaryPhoneNumber"> | {{contact.primaryPhoneNumber}}</span>
        <app-delete-confirmation [deleteFn]="deleteContact(contact.contactId)" [icon]="'fa fa-trash'"></app-delete-confirmation>
        <button type="button" class="btn  btn-warning pull-right ml-2" tooltip= "Edit" (click)="editContact(contact)"><i class="fa fa-edit"></i></button>
        <button type="button" class="btn  pull-right" (click)="selectServiceContact(contact.contactId)"
                tooltip="{{serviceContactTooltip(contact.contactId)}}"
                ngClass="{{serviceContactClass(contact.contactId)}}">
          <i class="fa fa-star"></i>
        </button>
      </p>
    </div>
  </div>
</div>
