<h2 class="card-header m-0">
  <div class="row">
    <div class="col-sm-4">
      Results:
      <span class="label label-info">{{results.length}}</span>
      <span *ngIf="results.length === 0 || results.length > 1"> Customers</span>
      <span *ngIf="results.length === 1"> Customer</span>
    </div>
    <div class="col-sm-8">
     <div class="row pull-right">
       <span class="text-default">Legend:</span>
       <span class="pl-sm-1 text-default">Active</span>
       <span class="pl-sm-2 text-puke">Cancelled</span>
       <span class="pl-sm-2 text-danger">Locked/Delinquent</span>
     </div>
    </div>
  </div>
</h2>
<div class="d-none d-sm-block">
  <p class="text-center m-3" [hidden]="results.length>0">{{ searchViewService.getSearchStatus() }}</p>
  <table class="table table-striped" [hidden]="results.length==0">
    <thead>
    <tr>
      <th scope="col">Customer Name</th>
      <th scope="col">Service Address</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of results">
      <th scope="row" [ngClass]="(p.lockedDelinquent) ? 'text-danger' : (p.cancelled) ? 'text-puke' : 'text-default'">{{p.account}} - {{p.serviceName}}</th>
      <td [ngClass]="(p.lockedDelinquent) ? 'text-danger' : (p.cancelled) ? 'text-puke' : 'text-default'">
        <address *ngFor="let a of p.addressList">
                    <span *ngIf="a.addressType.toLowerCase() === 'service'">{{p.serviceName}}<br>
                      {{a.line1}} {{a.line2}}<br>
                      {{a.city}}, {{a.state}} {{a.postalCode}}
                    </span>
        </address>
      </td>
      <td [ngClass]="(p.lockedDelinquent) ? 'text-danger' : (p.cancelled) ? 'text-puke' : 'text-default'">{{p.type}}</td>
      <td [ngSwitch]="actionView()">
        <button class="btn btn-info " type="button" *ngSwitchCase="'linkedAccount'" (click)="selectAccount(p)">Add</button>
        <div *ngSwitchDefault>
          <button type="button" class="btn btn-success " *ngSwitchDefault (click)="redirect(p.id, p.type, p.company)"><i class="fa fa-edit"></i></button>
          <button type="button" *ngIf="p.customer > 0" class="btn btn-info " tooltip="Prospect ID: {{p.company}}-{{p.customer}}" (click)="redirect(p.customer, 'PROSPECTS', p.company)"><i class="fa fa-user"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div id="xs-search-results" class="d-block d-sm-none">
  <p class="text-center m-3" [hidden]="results.length>0">There are no results to display</p>
  <div *ngFor="let p of results" class="p-3" [hidden]="results.length==0">
    <p><strong>{{p.serviceName}} </strong> <small>{{p.type}}</small></p>
    <address *ngFor="let a of p.addressList">
              <span>
              <span *ngIf="a.addressType.toLowerCase() === 'service'; else billingShow">{{p.serviceName}}</span><br>
              <ng-template #billingShow><span>{{p.billingName}}</span></ng-template>
              {{a.line1}} {{a.line2}}<br>
              {{a.city}}, {{a.state}} {{a.postalCode}}
              </span>
    </address>
    <div [ngSwitch]="actionView()">
      <button class="btn btn-info " type="button" *ngSwitchCase="'linkedAccount'" (click)="selectAccount(p)">Add</button>
      <div *ngSwitchDefault>
        <button type="button" class="btn btn-success " *ngSwitchDefault (click)="redirect(p.id, p.type, p.company)"><i class="fa fa-edit"></i></button>
        <button type="button" *ngIf="p.customer > 0" class="btn btn-info " tooltip="Prospect ID: {{p.company}}-{{p.customer}}" (click)="redirect(p.customer, 'PROSPECTS', p.company)"><i class="fa fa-user"></i></button>
      </div>
    </div>
  </div>
</div>

