<div class="form-check form-check-inline my-1">
  <label class="form-check-label">
    <input class="form-check-input" [disabled]="isActive" hidden type="checkbox" value="true" name="checkbox" [(ngModel)]="model" (ngModelChange)="change()">
    <a class="btn btn-default" [ngClass]="{'btn-default': !model, 'btn-success text-white': model}">{{label}}</a>
  </label>
</div>
