<form ngNativeValidate>
  <div class="modal-header">
    <h2 class="modal-title pull-left">Calendar Filter</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="col-xs-12 col-md-6 mb-2">
        <label>Start Date</label>
        <div class="input-group date">
          <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
          <input type="text" class="form-control input-datepicker" name="startDate" placeholder="Date"
                 bsDatepicker [(ngModel)]="filter.startDate" (bsValueChange)="validateFromDates($event)">
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <label>End Date</label>
        <div class="input-group date">
          <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
          <input type="text" class="form-control input-datepicker" name="endDate" placeholder="Date"
                 bsDatepicker [(ngModel)]="filter.endDate" (bsValueChange)="validateEndDates($event)">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md">
        <label class="form-label">Status</label>
        <select id="cmbViewEventStatus" name="status" class="form-control" [(ngModel)]="filter.status">
          <option value="">Open</option>
          <option value="CLOSED">Closed</option>
          <option value="ALL">All</option>
        </select>
      </div>
      <div class="form-group col-md">
        <label class="form-label">Type</label>
        <select name="type" class="form-control" [(ngModel)]="filter.type">
          <option value=""></option>
          <option value="{{e.type}}" *ngFor="let e of options.eventType">{{e.description}}</option>
        </select>
      </div>
      <div class="form-group col-md">
        <label class="form-label">User Id</label>
        <select name="userId" class="form-control" [(ngModel)]="filter.userId">
          <option value="{{u.userid}}" *ngFor="let u of options.users">{{u.userid}} - {{u.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label class="form-label">Description</label>
        <input class="form-control" name="description" [(ngModel)]="filter.description">
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancel</button>
    <button type="submit" class="btn btn-warning" (click)="clearFilter()">Clear</button>
    <button type="submit" class="btn btn-success" (click)="filterEvents()">Apply</button>
  </div>
</form>
