<form class="wrapper-content animated fadeInRight" [ngClass]="{'blur': pageService.loading}" ngNativeValidate
      (submit)="save()">
  <div class="row animated fadeInRight">
    <div class="col">
      <div class="card mb-4">
        <h2 class="card-header m-0">
          Settings
        </h2>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-sm-2 col-md">
              <label class="form-label">Event notification e-mail</label>
              <input class="form-control" name="email" [(ngModel)]="pageService.email" readonly>
            </div>
            <div class="form-group col-sm-2 col-md">
              <label class="form-label">Default search</label>
              <select class="form-control" name="defaultSearchType" [(ngModel)]="pageService.settings.defaultSearchType">
                <option *ngFor="let s of searchType | keyvalue" [ngValue]="s.key">{{s.value}}</option>
              </select>
            </div>
            <div class="form-group col-sm-2 col-md">
              <label class="form-label">Notes</label><br>
              <app-radio name="sortNotesDecending" [value]="false" [(model)]="pageService.settings.sortNotesDescending"
                         label="Oldest First"></app-radio>
              <app-radio name="sortNotesDecending" [value]="true" [(model)]="pageService.settings.sortNotesDescending"
                         label="Newest First"></app-radio>
            </div>
            <div class="form-group col-sm-2 col-md">
              <label class="form-label">Show Weekends</label><br>
              <app-radio name="sortNotesDecending" [value]="true" [(model)]="pageService.settings.showWeekends"
                         label="Yes"></app-radio>
              <app-radio name="sortNotesDecending" [value]="false" [(model)]="pageService.settings.showWeekends"
                         label="No"></app-radio>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-2 col-md">
              <label class="form-label">First Day of the Week</label>
              <select class="form-control" name="calendarFirstDay" [(ngModel)]="pageService.settings.calendarFirstDay">
                <option *ngFor="let d of daysOfTheWeek; let i = index" [ngValue]="i">{{d}}</option>
              </select>
            </div>
            <div class="form-group col-sm-2 col-md">
              <label class="form-label">First Hour of the Day</label>
              <select class="form-control" name="calendarFirstHour" [(ngModel)]="pageService.settings.calendarFirstHour">
                <option *ngFor="let d of timeOfDay24; let i = index" [ngValue]="i">{{d}}</option>
              </select>
            </div>
          </div>
          <!--<div class="form-row">-->
            <!--<div class="form-group col-sm-2 col-md">-->
              <!--<label class="form-label">Country</label><br>-->
              <!--<app-radio name="sortNotesDecending" [value]="true" [(model)]="pageService.settings.isUS"-->
                         <!--label="US"></app-radio>-->
              <!--<app-radio name="sortNotesDecending" [value]="false" [(model)]="pageService.settings.isUS"-->
                         <!--label="CA"></app-radio>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>

  <div class="row animated fadeInRight">
    <div class="col">
      <div class="card mb-4">
        <div class="card-body text-right">
          <div class="form-row">
            <div class="form-group col">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
