<div class="card-body pb-0">
  <div class="form-group" *ngIf="miscVar.listOfValues.length > 0">
    <label class="form-label">{{miscVar.varDescription}}<span *ngIf="miscVar.required">*</span></label>
    <select class="form-control" name="value" [(ngModel)]="miscVar.value" (ngModelChange)="change()" [required]="miscVar.required">
      <option *ngFor="let obj of miscVar.listOfValues" [value]="obj.type">{{obj.description}}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="miscVar.listOfValues.length == 0">
    <label class="form-label">{{miscVar.varDescription}}<span *ngIf="miscVar.required">*</span></label>
    <input class="form-control" name="value" [(ngModel)]="miscVar.value" (ngModelChange)="change()" [required]="miscVar.required" >
  </div>
</div>
