<form ngNativeValidate (submit)="generate()">
  <div class="modal-header">
    <h2 class="modal-title pull-left">Sign In Person</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-6">
        <label class="form-label">First Name</label>
        <input class="form-control" name="firstName" [(ngModel)]="firstName" required>
      </div>

      <div class="form-group col-6">
        <label class="form-label">Last Name</label>
        <input class="form-control" name="lastName" [(ngModel)]="lastName" required>
      </div>

      <div class="form-group col mb-3">
        <label>Email</label>
        <input class="form-control" type="email" name="email" [(ngModel)]="email" required>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="bsModalRef.hide()">Cancel</button>
    <button type="submit" class="btn btn-success">Go</button>
  </div>
</form>
