<h2 class="card-header m-0">
  Results:
  <span class="label label-info">{{results.length}}</span>
  <span *ngIf="results.length === 0 || results.length > 1"> Prospects</span>
  <span *ngIf="results.length === 1"> Prospect</span>
</h2>
<div class="d-none d-sm-block">
  <p class="text-center m-3" [hidden]="results.length>0">{{ searchViewService.getSearchStatus() }}</p>
  <table class="table table-striped" [hidden]="results.length==0">
    <thead>
    <tr>
      <th scope="col">Prospect</th>
      <th scope="col">Service Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of results">
      <th scope="row">{{p.serviceName}}</th>
      <td>
        <!--<p><strong>Service Address</strong> </p>-->
        <address *ngIf="p.serviceAddress.line1 != ''">
          <span>
          {{p.serviceName}}<br>
          {{p.serviceAddress.line1}} {{p.serviceAddress.line2}}<br>
          {{p.serviceAddress.city}}, {{p.serviceAddress.state}} {{p.serviceAddress.postalCode}}
          </span>
        </address>
        <!--<p><strong>Billing Address</strong> </p>-->
        <!--<address *ngIf="p.billingAddress?.line1 != ''">-->
          <!--<span>-->
          <!--{{p.billingName}}<br>-->
          <!--{{p.billingAddress.line1}} {{p.billingAddress.line2}}<br>-->
          <!--{{p.billingAddress.city}}, {{p.billingAddress.state}} {{p.billingAddress.postalCode}}-->
          <!--</span>-->
        <!--</address>-->
      </td>
      <td>
        <p *ngFor="let ph of p.phoneList">
                    <span [hidden]="!ph.phoneId">
                    {{ph.phoneNumber}} - <small>{{ph.phoneType}}</small>
                    </span>
        </p>
      </td>
      <td>{{p.type}}</td>
      <td [ngSwitch]="actionView()">
        <button class="btn btn-info " type="button" *ngSwitchCase="'linkedAccount'" (click)="selectAccount(p)">Add</button>
        <div *ngSwitchDefault>
          <button type="button" class="btn btn-success " *ngSwitchDefault (click)="redirect(p.id, p.type, p.company)"><i class="fa fa-edit"></i></button>
          <button type="button" *ngIf="p.customer > 0" class="btn btn-info " tooltip="Customer ID: {{p.company}}-{{p.customer}}" (click)="redirect(p.customer, 'CUSTOMERS', p.company)"><i class="fa  fa-handshake-o"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div id="xs-search-results" class="d-block d-sm-none">
  <p class="text-center m-3" [hidden]="results.length>0">There are no results to display</p>
  <div *ngFor="let p of results" class="p-3" [hidden]="results.length==0">
    <p><strong>{{p.serviceName}} </strong> <small>{{p.type}}</small></p>
    <p><strong>Service Address</strong> </p>
    <address *ngIf="p.serviceAddress.line1 != ''">
          <span>
          {{p.serviceName}}<br>
          {{p.serviceAddress.line1}} {{p.serviceAddress.line2}}<br>
          {{p.serviceAddress.city}}, {{p.serviceAddress.state}} {{p.serviceAddress.postalCode}}
          </span>
    </address>
    <p><strong>Billing Address</strong> </p>
    <address *ngIf="p.billingAddress.line1 != ''">
          <span>
          {{p.billingAddress.line1}} {{p.billingAddress.line2}}<br>
          {{p.billingAddress.city}}, {{p.billingAddress.state}} {{p.billingAddress.postalCode}}
          </span>
    </address>
    <p *ngFor="let ph of p.phoneList">
              <span [hidden]="!ph.phoneId">
                {{ph.phoneNumber}} - <small>{{ph.phoneType}}</small>
              </span>
    </p>
    <div [ngSwitch]="actionView()">
      <button class="btn btn-info " type="button" *ngSwitchCase="'linkedAccount'" (click)="selectAccount(p)">Add</button>
      <div *ngSwitchDefault>
        <button type="button" class="btn btn-success " *ngSwitchDefault (click)="redirect(p.id, p.type, p.company)"><i class="fa fa-edit"></i></button>
        <button type="button" *ngIf="p.customer > 0" class="btn btn-info " tooltip="Customer ID: {{p.company}}-{{p.customer}}" (click)="redirect(p.customer, 'CUSTOMERS', p.company)"><i class="fa  fa-handshake-o"></i></button>
      </div>
    </div>
  </div>
</div>

