<div class="modal-header">
  <h2 class="modal-title pull-left">Add Service</h2>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="modal-body" ngNativeValidate (submit)="save()">

  <div class="form-row col">
    <div class="form-group col-md-6">
      <label class="form-label">Quantity</label>
      <input name="quoteName" type="number" class="form-control" min=0 [(ngModel)]="qs.quantity">
    </div>
    <div class="form-group col-md-6">
      <label class="form-label">Description*</label>
      <select class="form-control" name="description" [(ngModel)]="qs.description" (change)="setCapacity()" required>
        <option *ngFor="let obj of options.descriptionList" [value]="obj.value">{{obj.display}}</option>
      </select>
    </div>
  </div>

  <div class="form-group col">
    <label class="form-label">Material</label>
    <input name="material" class="form-control" [(ngModel)]="qs.material">
  </div>

  <div class="form-group col">
    <label class="form-label">Frequency</label>
    <select class="form-control" name="frequency" [(ngModel)]="qs.frequency" (change)="checkFreq()">
      <option *ngFor="let obj of options.frequencyList" [value]="obj.value">{{obj.display}}</option>
    </select>
  </div>

  <div class="form-group form-row">
    <app-checkbox (change)=checkFreq() [label]="'Monday'" [isActive]="disableRadio ? !qs.monday : false" [(model)]="qs.monday"></app-checkbox>
    <app-checkbox (change)=checkFreq() [label]="'Tuesday'" [isActive]="disableRadio ? !qs.tuesday : false" [(model)]="qs.tuesday" ></app-checkbox>
    <app-checkbox (change)=checkFreq() [label]="'Wednesday'" [isActive]="disableRadio ? !qs.wednesday : false" [(model)]="qs.wednesday" ></app-checkbox>
    <app-checkbox (change)=checkFreq() [label]="'Thursday'" [isActive]="disableRadio ? !qs.thursday: false" [(model)]="qs.thursday" ></app-checkbox>
    <app-checkbox (change)=checkFreq() [label]="'Friday'" [isActive]="disableRadio ? !qs.friday : false" [(model)]="qs.friday" ></app-checkbox>
  </div>
  <div class="form-group d-flex form-row">
    <app-checkbox (change)=checkFreq() [label]="'Saturday'" [isActive]="disableRadio ? !qs.saturday : false" [(model)]="qs.saturday" ></app-checkbox>
    <app-checkbox (change)=checkFreq() [label]="'Sunday'" [isActive]="disableRadio ? !qs.sunday : false" [(model)]="qs.sunday" ></app-checkbox>
  </div>
  <div class="form-row col">
    <div class="form-group col-6">
      <label class="form-label">Rate</label>
      <input name="rate" pattern="[+-]?([0-9]*[.])?[0-9]+" class="form-control" [(ngModel)]="qs.rate">
    </div>
    <div class="form-group col-6">
      <label class="form-label">Unit</label>
      <select class="form-control" name="unit" [(ngModel)]="qs.unit">
        <option *ngFor="let obj of options.unitList" [value]="obj.value">{{obj.display}}</option>
      </select>
    </div>
  </div>

  <div class="form-row col">
    <div class="form-group col-md-6">
      <label class="form-label">Total</label>
      <input name="total" pattern="[+-]?([0-9]*[.])?[0-9]+" class="form-control" [(ngModel)]="qs.total">
    </div>
    <div class="form-group col-md-6">
      <label class="form-label">Included</label>
      <input name="included" class="form-control" [(ngModel)]="qs.included">
    </div>
  </div>

  <div class="form-group col">
    <label class="form-label">Memo</label>
    <textarea class="form-control" name="memo" cols="30" rows="5" maxlength="25" [(ngModel)]="qs.memo"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="bsModalRef.hide()">Close</button>
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>
