<h2 class="card-header m-0">
  Results:
  <span class="label label-info">{{results.length}}</span>
  <span *ngIf="results.length === 0 || results.length > 1"> Contacts</span>
  <span *ngIf="results.length === 1"> Contact</span>
</h2>

<div class="d-none d-sm-block">
  <p class="text-center m-3" [hidden]="results.length>0">{{ searchViewService.getSearchStatus() }}</p>
  <table class="table table-striped" [hidden]="results.length==0">
    <thead>
    <tr>
      <th scope="col">Contact</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of results; let i = index;">
      <th scope="row">
        <span *ngIf="p.firstName"><strong>{{p.firstName}} {{p.lastName}}</strong><br></span>
        {{p.businessName}}
      </th>
      <td>
        <p *ngFor="let ph of p.phoneList">
                    <span [hidden]="!ph.phoneId">
                    {{ph.phoneNumber}} - <small>{{ph.phoneType}}</small>
                    </span>
        </p>
      </td>
      <ng-template #actionDefault>
        <button type="button" class="btn btn-success " (click)="redirect(p.id, p.type, p.company)"><i class="fa fa-edit"></i></button>
      </ng-template>
      <ng-template #prospectAdd>
        <button type="button" class="btn btn-success " (click)="add(p)"><i class="fa fa-plus"></i></button>
      </ng-template>
      <td [ngSwitch]="actionTemplate()">
        <div *ngSwitchDefault>
          <ng-container *ngTemplateOutlet="actionDefault"></ng-container>
        </div>
        <div *ngSwitchCase="'prospectAdd'">
          <ng-container *ngTemplateOutlet="prospectAdd"></ng-container>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div id="xs-search-results" class="d-block d-sm-none">
  <p class="text-center m-3" [hidden]="results.length>0">There are no results to display</p>
  <div *ngFor="let p of results; let i = index;" class="p-3" [hidden]="results.length==0">
    <p>
      <span *ngIf="p.firstName"><strong>{{p.firstName}} {{p.lastName}}</strong><br></span>
      <strong>{{p.businessName}} </strong> <br>
    </p>
    <p *ngFor="let ph of p.phoneList">
              <span [hidden]="!ph.phoneId">
                {{ph.phoneNumber}} - <small>{{ph.phoneType}}</small>
              </span>
    </p>
    <ng-template #actionDefault>
      <button type="button" class="btn btn-success " (click)="redirect(p.id, p.type, p.company)"><i class="fa fa-edit"></i></button>
    </ng-template>
    <ng-template #actionAdd>
      <button type="button" class="btn btn-success " (click)="add(p)"><i class="fa fa-plus"></i></button>
    </ng-template>
    <span [ngSwitch]="actionTemplate()">
        <div *ngSwitchDefault>
          <ng-container *ngTemplateOutlet="actionDefault"></ng-container>
        </div>
        <div *ngSwitchCase="'prospectAdd'">
          <ng-container *ngTemplateOutlet="prospectAdd"></ng-container>
        </div>
    </span>
  </div>
</div>
<div class="form-row">
  <div class="form-group col text-right">
    <button type="button" class="btn btn-warning mr-2" type="button" *ngIf="bsModalRef != null" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btn-warning mr-2" type="button" *ngIf="sv.actionTemplate=='prospectAdd'" (click)="sv.clearResults()" >Clear</button>
  </div>
</div>
