<div class="card-body">
    <div class="form-group">
      <label class="form-label">Phone Type</label>
      <select class="form-control" name="phoneType" [(ngModel)]="phone.phoneType" (ngModelChange)="change()" [disabled]="readOnly">
        <option *ngFor="let obj of phoneTypeList" [value]="obj.value">{{obj.display}}</option>
      </select>
    </div>
  <div class="form-row">
    <div class="form-group col-lg-8">
      <label class="form-label">Phone Number</label>
      <input class="form-control" [textMask]="{mask: phoneMask}" name="phoneNumber" [(ngModel)]="phone._phoneNumber" (ngModelChange)="change()" [disabled]="readOnly">
    </div>
    <div class="form-group col-lg-4">
      <label class="form-label">Ext</label>
      <input name="extension" id="extension" class="form-control" maxlength="4" [(ngModel)]="phone.extension" (ngModelChange)="change()" [disabled]="readOnly">
    </div>
    <div class="form-group">
      <div class="form-check form-check-inline my-1">
        <label class="form-check-label">
          <a class="btn " [ngClass]="{'btn-default': !phone.primaryPhone, 'btn-success text-white': phone.primaryPhone}"
             (click)="updatePrimaryPhone()"
             [tooltip]="phone.primaryPhone ? 'Current Primary Phone':'Make Primary Phone'">
            <i class="fa fa-star"></i>
          </a>
          <app-delete-confirmation [deleteFn]="delete" [icon]="'fa fa-trash'" *ngIf="canDelete()"></app-delete-confirmation>
        </label>
      </div>
    </div>
  </div>
</div>
