<div class="form-row">
  <div class="form-group col-md-12 col-lg">
    <select class="form-control" [hidden]="fixedAddressType" [disabled]="readOnly"
            name="addressType"
            [(ngModel)]="address.addressType"
            (ngModelChange)="change()">
      <option *ngFor="let obj of addressType" [value]="obj.value">{{obj.display}}</option>
    </select>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-12 col-lg">
    <label class="form-label" *ngIf="label">{{addressOneLabel}}</label>
    <input name="line1" class="form-control" [(ngModel)]="address.line1" (ngModelChange)="change()" [placeholder]="label ? '': addressOneLabel"
           [disabled]="readOnly">
  </div>
  <div class="form-group col-md-4 col-lg-3">
    <label class="form-label" *ngIf="label">{{addressTwoLabel}}</label>
    <input name="line2" class="form-control" [(ngModel)]="address.line2" (ngModelChange)="change()" [placeholder]="label ? '': addressTwoLabel"
           [disabled]="readOnly">
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-12 col-lg">
    <label class="form-label" *ngIf="label">{{cityLabel}}</label>
    <input name="city" class="form-control" [(ngModel)]="address.city" (ngModelChange)="change()" [placeholder]="label ? '': cityLabel"
           [disabled]="readOnly">
  </div>
  <div class="form-group col-md-8 col-lg-4">
    <label class="form-label" *ngIf="label">{{stateLabel}}</label>
    <select class="form-control" [(ngModel)]="address.state" (ngModelChange)="change()" [disabled]="readOnly">
      <option value="">Select {{stateLabel}}</option>
      <optgroup label="US">
        <option *ngFor="let s of states">{{s}}</option>
      </optgroup>
      <optgroup label="Canada">
        <option *ngFor="let s of provCAN">{{s}}</option>
      </optgroup>
    </select>
  </div>
  <div class="form-group col-md-4 col-lg-3">
    <label class="form-label" *ngIf="label">{{zipLabel}}</label>
    <input name="zip" class="form-control" [(ngModel)]="address.postalCode" (ngModelChange)="change()" [placeholder]="label ? '': zipLabel"
           [disabled]="readOnly">
  </div>
</div>
<div class="form-group" *ngIf="canUpdatePrimaryAddress() || canDelete()">
  <div class="form-check form-check-inline my-1">
    <label class="form-check-label">
      <button type="button" class="btn "
              [ngClass]="{'btn-default': !address.primaryAddress, 'btn-success text-white': address.primaryAddress}"
              *ngIf="canUpdatePrimaryAddress()"
              (click)="updatePrimaryAddress()"
              [disabled]="readOnly"
              [tooltip]="address.primaryAddress ? 'Current Primary Address':'Make Primary Address'">
        <i class="fa fa-star"></i>
      </button>
      <app-delete-confirmation [deleteFn]="delete" [icon]="'fa fa-trash'" *ngIf="canDelete()"></app-delete-confirmation>
    </label>
  </div>
</div>
