<h2 class="card-header m-0">
  Results:
  <span class="label label-info pull-right">{{results.length}}</span>
  <span *ngIf="results.length === 0 || results.length > 1"> Quotes</span>
  <span *ngIf="results.length === 1"> Quote</span>
</h2>
<div class="d-none d-sm-block">
  <p class="text-center m-3" [hidden]="results.length>0">There are no results to display</p>
  <table class="table table-striped" [hidden]="results.length==0">
    <thead>
    <tr>
      <th scope="col">Quote Name</th>
      <th scope="col">Company</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of results">
      <th scope="row">{{p.parentName}}<br><small>{{p.quoteName}}</small></th>
      <td>{{p.company}}</td>
      <td>
        <button type="button" class="btn btn-success " (click)="redirect(p, 'prospect')"><i class="fa fa-edit"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div id="xs-search-results" class="d-block d-sm-none">
  <p class="text-center m-3" [hidden]="results.length>0">There are no results to display</p>
  <div *ngFor="let p of results" class="p-3" [hidden]="results.length==0">
    <p><strong>{{p.parentName}} </strong>
      <br><small>{{p.quoteName}} - {{p.company}}</small>
    </p>
    <button type="button" class="btn btn-success " (click)="redirect(p, 'prospect')"><i class="fa fa-edit"></i></button>
  </div>
</div>

