<form ngNativeValidate>
  <div class="modal-header">
    <h2 class="modal-title pull-left">{{confirmationPrompt}}</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <button type="button" class="col m-1 btn btn-success" (click)="confirmActionClick()">{{confirmLabel}}</button>
      <button type="button" class="col m-1 btn btn-warning" (click)="cancelActionClick()">{{cancelLabel}}</button>
    </div>
  </div>
</form>
