<div class="modal-header">
  <h2 class="modal-title pull-left">Event</h2>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="col-xs-12 col">
      <label for="cmbViewEventForUser">For User</label>
      <select id="cmbViewEventForUser" name="" class="form-control" required="" [(ngModel)]="event.eventUser">
        <option value="{{u.userid}}" *ngFor="let u of options.users">{{u.userid}} - {{u.name}}</option>
      </select>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="bsModalRef.hide()">Cancel</button>
  <button type="button" class="btn btn-success" (click)="forward()">Forward</button>
</div>
