<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" class="form-control">
<table mat-table [dataSource]="dataSource" matSort class="table table-striped table-bordered">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
    <td mat-cell *matCellDef="let element"> {{element.dateDisplay}}</td>
  </ng-container>
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time</th>
    <td mat-cell *matCellDef="let element"> {{element.timeDisplay}}</td>
  </ng-container>
  <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef> Description</th>
    <td mat-cell *matCellDef="let element"> {{element.description}}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let element" class="text-right">
      <app-delete-confirmation [deleteFn]="deleteEvent(element)" [icon]="'fa fa-trash'"></app-delete-confirmation>
      <button type="button" class="btn  btn-warning mx-1 pull-right"
              (click)="editEventModal(element)"
              [tooltip]="'Edit'">
        <i class="fa fa-edit"></i>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
