<form class="form-group" ngNativeValidate (submit)="save()">
<div class="modal-header">
  <h2 class="modal-title pull-left">Add Note</h2>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <textarea class="form-control" rows="5" name="note" (keyup)="onKey($event)" [(ngModel)]="note.note"
              maxlength="{{limit}}" required></textarea>
    <label>{{counterNumber}} : characters left</label>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="bsModalRef.hide()">Close</button>
  <button type="submit" class="btn btn-success">Save</button>
</div>
</form>
