@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")
@import "variables"
@import "glyphicons"
@import "mixins"
@import "typography"
@import "navigation"
@import "top_navigation"
@import "buttons"
@import "badges_labels"
@import "elements"
@import "sidebar"
@import "base"
@import "pages"
@import "chat"
@import "metismenu"
@import "spinners"
@import "rtl"
@import "media"
@import "custom"

//toast stuff
@import '~ngx-toastr/toastr.css'
@import '~ngx-toastr/toastr-bs4-alert'

//angular materials
@import "~@angular/material/prebuilt-themes/indigo-pink.css"

//full calendar
@import "~fullcalendar/dist/fullcalendar.css"

//datepicker
@import '~ngx-bootstrap/datepicker/bs-datepicker.css'

@media print
  nav.navbar-static-side
    display: none
  body
    overflow: visible !important
  #page-wrapper
    margin: 0

.toast-success .toast-message
  color: #2a5b2d !important

.toast-error .toast-message
  color: #73232c !important

.toast-warning .toast-message
  color: #846725 !important

.toast-warning .toast-message
  color: #255863 !important

bs-datepicker-container, bs-daterangepicker-container
  z-index: 3000 !important

.mat-table-container
  mat-paginator
    position: absolute
    bottom: 0
    right: 0
  position: relative
  padding-bottom: 40px

tr
  &.mat-row
    height: 0 !important

.table
  @for $i from 1 through 30
    th.w-#{$i * 10}
      width: 10px * $i !important

.word-wrap
  word-wrap: break-word
  min-width: 160px
  max-width: 160px
  //word-break: break-all
  // overflow-wrap: break-word;

.sticky
  position: sticky
  top: 10px
  bottom: 10px
  z-index: 100

.sp-logo
  width: 25%
  hieght: auto









