@import "../../../../assets/scss/style/_variables.sass";
@import "../../../../assets/scss/custom/loadAnimation";

$blurPx: 1.5px;

input.form-control, select.form-control {
  width: 100%
}

app-address-field, app-phone-fields, app-note {
  border-bottom: 1px solid $gray;

  &:last-child {
    border-bottom: 0;
  }
}

.card-header {
  border-bottom-color: $navy;
}

.blur {
  -webkit-filter: blur($blurPx);
  -moz-filter: blur($blurPx);
  -o-filter: blur($blurPx);
  -ms-filter: blur($blurPx);
  filter: blur($blurPx);
}

button {
  &:hover {
    cursor: pointer !important;
  }
}
