<form class="wrapper-content animated fadeInRight" [ngClass]="{'blur': pageService.loading}" ngNativeValidate (submit)="save()">
  <div class="row animated fadeInRight">
    <div class="col">
      <div class="card mb-4">
        <h2 class="card-header m-0">
          Prospect Detail
          <span class="label label-info pull-right">ID: {{view.prospect.prospectId}}</span>
          <span class="label label-success mr-2 pull-right" *ngIf="view.prospect.customer" (click)="navigateToCustomer()"><a><u>Customer: {{view.prospect.customer}}</u></a></span>
        </h2>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label class="form-label">Business Name*</label>
              <input class="form-control" name="businessName" [(ngModel)]="view.prospect.businessName" required [disabled]="view.prospect.readOnly">
            </div>
            <div class="form-group col-md-3">
              <label class="form-label">Prospect Level</label>
              <select class="form-control" name="prospectLevel" [(ngModel)]="view.prospect.prospectLevel"  [disabled]="view.prospect.readOnly">
                <option *ngFor="let obj of view.getOptions('prospectLevel')" [value]="obj.value">{{obj.display}}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label class="form-label">Sales ID*</label>
              <select class="form-control" name="salesId" [(ngModel)]="view.prospect.salesId" required [disabled]="view.prospect.readOnly">
                <option *ngFor="let obj of view.getOptions('sales')" [value]="obj.value">{{obj.display}} - {{obj.value}}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label class="form-label">Company</label>
              <select class="form-control" name="company" [(ngModel)]="view.prospect.company" [disabled]="!view.canEditCompany || view.prospect.readOnly" >
                <option value="">&nbsp;</option>
                <option *ngFor="let obj of view.getOptions('companies')" [value]="obj.value">{{obj.display}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animated fadeInRight">
      <div class="col">
        <div class="card">
          <h2 class="card-header m-0">
            Address
          </h2>
        </div>
      </div>
  </div>
  <div class="row animated fadeInRight px-3 border-2 mb-4" style="position: relative;top: -1px;">
    <div class="card col-md-6" style="border-radius: 0 0 0 5px;">
      <div class="card-body pb-0">
        <span class="label label-info">Service</span>
        <app-address-field [(address)]="view.prospect.serviceAddress" [label]="false"
                           [readOnly]="view.prospect.readOnly"></app-address-field>
      </div>
    </div>
    <div class="card col-md-6" style="border-radius: 0 0 5px 0;">
      <div class="card-body">
        <button type="button" class="label label-success pull-right" (click)="copyAddressFromService()"
                *ngIf="!view.prospect.readOnly">
          <small><i class="fa fa-copy"></i></small>
        </button>
        <div class="form-group col-md-6 pl-0 mb-0">
          <span class="label label-info">Billing</span><br><br>
          <!--<label class="form-label">Billing Name</label>-->
          <input class="form-control" name="billingName" [(ngModel)]="view.prospect.billingName" placeholder="Billing Name"
                 [disabled]="view.prospect.readOnly">
        </div>
        <app-address-field [(address)]="view.prospect.billingAddress" [label]="false"
                         [readOnly]="view.prospect.readOnly"></app-address-field>

        <div class="form-row">
          <div class="form-group col-md-6">
            <!--<label class="form-label">Attention</label>-->
            <input class="form-control" name="attention" [(ngModel)]="view.prospect.attention" placeholder="Attention"
                   [disabled]="view.prospect.readOnly">
          </div>
          <div class="form-group col-md-6">
            <!--<label class="form-label">Billing Email</label>-->
            <input class="form-control" name="email" [(ngModel)]="view.prospect.email" placeholder="Billing Email"
                   [disabled]="view.prospect.readOnly"
                   [required]="view.prospect.billType=='E'">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label mr-3">Bill Type:</label>
          <app-radio name="billType" value="E" [(model)]="view.prospect.billType" [readOnly]="view.prospect.readOnly"
                     label="Email"></app-radio>
          <app-radio name="billType" value="P" [(model)]="view.prospect.billType" [readOnly]="view.prospect.readOnly"
                     label="Printed"></app-radio>
        </div>
      </div>
    </div>
  </div>

  <div class="row animated fadeInRight mb-4">
    <div class="col">
      <div class="card h-99">
        <h2 class="card-header m-0">
          Contact List
          <button type="button" class="label label-success pull-right" (click)="searchContact()" *ngIf="!view.prospect.readOnly">
            <small>Search</small>
          </button>
          <button type="button" class="label label-success pull-right" (click)="addContact()" *ngIf="!view.prospect.readOnly">
            <small>Add New</small>
          </button>
        </h2>
        <app-contact-list
          [contacts]="view.contacts"
          [readOnly]="view.prospect.readOnly"
          [prospectView]="view">
        </app-contact-list>
      </div>
    </div>
  </div>

  <div class="row animated fadeInRight mb-4">
    <div class="col">
      <tabset>
        <tab heading="Phone">
          <div class="card col-md-6 px-0">
            <h2 class="card-header m-0">
              Phone
              <button type="button" class="label label-success pull-right" (click)="addPhone()" *ngIf="!view.prospect.readOnly">
                <small>Add</small>
              </button>
            </h2>
            <app-phone-list [phoneList]="view.prospect.phoneList"
                            [deletedPhoneList]="view.deletedPhoneList"
                            [phoneTypeList]="view.getOptions('phoneType')"
                            [readOnly]="view.prospect.readOnly">
            </app-phone-list>
          </div>
        </tab>
        <tab heading="Sales Info">
          <div class="card col-md-6 px-0">
            <h2 class="card-header m-0">
              Settings
            </h2>
            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Service Type</label>
                <select class="form-control" name="serviceType" [(ngModel)]="view.prospect.serviceType" [disabled]="view.prospect.readOnly">
                  <option *ngFor="let obj of view.getOptions('serviceType')" [value]="obj.value">{{obj.display}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">Current Provider</label>
                <select class="form-control" name="provider" [(ngModel)]="view.prospect.provider" [disabled]="view.prospect.readOnly">
                  <option *ngFor="let obj of view.getOptions('provider')" [value]="obj.value">{{obj.display}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">Source</label>
                <select class="form-control" name="source" [(ngModel)]="view.prospect.source" [disabled]="view.prospect.readOnly">
                  <option *ngFor="let obj of view.getOptions('source')" [value]="obj.value">{{obj.display}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">Business Type</label>
                <select class="form-control" name="businessType" [(ngModel)]="view.prospect.businessType" [disabled]="view.prospect.readOnly">
                  <option *ngFor="let obj of view.getOptions('businessType')" [value]="obj.value">{{obj.display}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">Mgt. Company</label>
                <select class="form-control" name="managementCompany" [(ngModel)]="view.prospect.managementCompany" [disabled]="view.prospect.readOnly">
                  <option *ngFor="let obj of view.getOptions('managementCompany')" [value]="obj.value">{{obj.display}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">Territory ID</label>
                <select class="form-control" name="territoryId" [(ngModel)]="view.prospect.territoryId" [disabled]="view.prospect.readOnly">
                  <option *ngFor="let obj of view.getOptions('territoryId')" [value]="obj.value">{{obj.display}}</option>
                </select>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <label class="form-label">Estimated Months</label>
                  <input class="form-control" name="contractLength" pattern="[0-9]+" [(ngModel)]="view.prospect.contractLength" [disabled]="view.prospect.readOnly">
                </div>
                <div class="form-group col-lg-6">
                  <label class="form-label">Estimated Revenue</label>
                  <input class="form-control" name="estimatedMonthlyRevenue" pattern="[0-9]+" [(ngModel)]="view.prospect.estimatedMonthlyRevenue" [disabled]="view.prospect.readOnly">
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Estimated Value</label>
                <p><strong>{{view.prospect.contractLength * view.prospect.estimatedMonthlyRevenue | currency }}</strong></p>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Notes">
          <div class="card h-100 mat-table-container">
            <h2 class="card-header m-0">
              Notes
              <button type="button" class="label label-success pull-right" *ngIf="!view.prospect.readOnly" (click)="addNote()">
                <small>Add</small>
              </button>
            </h2>
            <app-note-list
              [(noteList)]="view.prospect.notesList"
              [deletedNoteList]="view.deletedNoteList">
            </app-note-list>
          </div>
        </tab>
        <tab heading="Events">
          <div class="card h-100 mat-table-container">
            <h2 class="card-header m-0">
              Events
              <button type="button" class="label label-success pull-right" (click)="addEvent()" *ngIf="canAddEvent()">
                <small>Add</small>
              </button>
            </h2>
            <app-event-list
              [events]="view.events"
              [options]="view.eventOptions"
              [saveFn]="saveEvent"
              [deleteFn]="deleteEvent">
            </app-event-list>
          </div>
        </tab>
        <tab heading="Quotes">
          <div class="card h-99">
            <h2 class="card-header m-0">
              Quotes
              <button type="button" class="label label-success pull-right" (click)="addQuote()" *ngIf="view.canAddQuotes">
                <small>Add</small>
              </button>
            </h2>
            <app-quote-list
              [quoteList]="view.quotes"
              [account]="view.prospect"
              [deletedQuoteList]="view.deletedQuoteList"
              [company]="view.prospect.company"
              [quoteOptions]="view.quoteOptions"
              [readOnly]="view.prospect.readOnly"
              [module]="'prospect'"
            ></app-quote-list>
          </div>
        </tab>

      </tabset>
    </div>
  </div>


  <div class="card mb-4">
    <div class="card-body text-right">
      <div class="form-row">
        <div class="form-group col">
          <button type="submit" class="btn btn-success" readonly="view.prospect.readOnly" [disabled]="view.prospect.readOnly">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>
