<div class="footer">
  <div>
    <strong>Copyright</strong> Soft-Pak &copy; 2018
    <div id="debug" *ngIf="!environment.production">
      <span class="d-block d-sm-none">Media: XS</span>
      <span class="d-none d-sm-block d-md-none">Media: SM</span>
      <span class="d-none d-md-block d-lg-none">Media: MD</span>
      <span class="d-none d-lg-block d-xl-none">Media: LG</span>
      <span class="d-none d-xl-block">Media: XL</span>
    </div>
    <div id="version" *ngIf="environment.production">
      <span>{{environment.appVersion}}</span>
    </div>
  </div>
</div>
