<ul class="list-group list-group-striped" *ngFor="let q of quoteList; let i = index">
  <li class="list-group-item"><strong>{{q.quoteName || '*No company name provided*'}}</strong>
    <small class="label label-info ml-2">ID: {{q.quoteId}}</small>
    <!--<small class="label label-info ml-2">Status : {{q.status}}</small>-->
    <app-delete-confirmation [deleteFn]="deleteQuote(q.quoteId, i)" [icon]="'fa fa-trash'" *ngIf="!isReadOnly(q)"></app-delete-confirmation>
    <button type="button" class="btn  btn-danger mx-1 pull-right" tooltip="Status&nbsp;Closed" readonly *ngIf="isReadOnly(q)"><i class="fa fa-trash" ></i></button>
    <button type="button" class="btn  btn-success pull-right mx-1" tooltip="Email Quote PDF" (click)="emailPdf(q)"><i class="fa fa-envelope" ></i></button>
    <button type="button" class="btn  btn-secondary pull-right mx-1" tooltip="Sign In Person" *ngIf="!hasSignedQuote(q) && !isReadOnly(q)" (click)="signInPerson(q)"><i class="fas fa-signature" ></i></button>
    <button type="button" class="btn  btn-success pull-right mx-1" tooltip="Delete Signed Quote" *ngIf="hasSignedQuote(q) && !isReadOnly(q)" (click)="deleteSignedQuote(q)"><i class="fa fa-eraser"></i></button>
    <button type="button" class="btn  btn-success pull-right mx-1" tooltip="Upload Signed Quote" *ngIf="!hasSignedQuote(q) && !isReadOnly(q)" (click)="uploadQuote(q)"><i class="fa fa-upload"></i></button>
    <button type="button" class="btn  btn-info pull-right mx-1" tooltip="View Quote" (click)="quotePdf(q)"><i class="fa fa-eye"></i></button>
    <button type="button" class="btn  btn-warning pull-right mx-1" tooltip="Edit Quote" (click)="editQuote(q)"><i class="fa fa-edit" ></i></button>
  </li>
</ul>
