@import "../../../../assets/scss/custom/loadAnimation";
@import "../../../../assets/scss/style/variables";

app-note {
  border-bottom: 1px solid $gray;

  &:last-child {
    border-bottom: 0;
  }
}

