<form class="wrapper-content animated fadeInRight" [ngClass]="{'blur': pageService.loading}" ngNativeValidate (submit)="save()">
  <div class="row animated fadeInRight">
    <div class="col">
      <div class="card mb-4">
        <h2 class="card-header m-0">
          <span class="label label-info pull-right mx-1" *ngIf="view.quote.quoteId">Quote: {{view.quote.quoteId}}</span>
          <span class="label label-info pull-right mx-1 text-capitalize">{{view.module}}: {{view.accountId}}</span>
          Quote Information<br><br>
          <div class="row">
            <div class="col-sm-6"><strong>Service Name:</strong> {{serviceName}} </div>
            <div class="col-sm-6"><strong>Billing Name:</strong> {{billingName}} </div>
            <div class="col-sm-6"><strong>Service
              Address:</strong> {{serviceAddress}}
            </div>
            <div class="col-sm-6"><strong>Billing
              Address:</strong> {{billingAddress}}
            </div>
          </div>
        </h2>
        <div class="card-body">
          <div class="form-row">
            <div class="col-6">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="form-label">Status</label>
                  <select class="form-control" name="status" [(ngModel)]="view.quote.status"
                          [disabled]="!canUpdateStatus()">
                    <option *ngFor="let obj of view.options.quoteStatuses" [value]="obj.value"
                            [disabled]="obj.value == '9'">{{obj.display}}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label">Quote Type*</label>
                  <select class="form-control" name="quoteType" [(ngModel)]="view.quote.quoteType" required
                          [disabled]="!canEditQuote()">
                    <option value="">Select</option>
                    <option value="N">New Account</option>
                    <option value="R">Renewal</option>
                    <option value="E">Seasonal</option>
                    <option value="S">Service Change</option>
                    <option value="T">Temporary</option>
                    <option value="O">Other</option>
                  </select>
                </div>
                <div class="form-group col-12">
                  <label class="form-label">Quote Name*</label>
                  <input name="quoteName" class="form-control" [(ngModel)]="view.quote.quoteName" required
                         [disabled]="!canEditQuote()">
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label" style="margin-bottom: .75rem;">Price Increase Month</label>
                  <select class="form-control" name="priceIncreaseMonth" [(ngModel)]="view.quote.priceIncreaseMonth"
                          [disabled]="!canEditQuote()">
                    <option [ngValue]="0">Select</option>
                    <option [ngValue]="1"> January</option>
                    <option [ngValue]="2"> February</option>
                    <option [ngValue]="3"> March</option>
                    <option [ngValue]="4"> April</option>
                    <option [ngValue]="5"> May</option>
                    <option [ngValue]="6"> June</option>
                    <option [ngValue]="7"> July</option>
                    <option [ngValue]="8"> August</option>
                    <option [ngValue]="9"> September</option>
                    <option [ngValue]="10"> October</option>
                    <option [ngValue]="11"> November</option>
                    <option [ngValue]="12"> December</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label" style="margin-bottom: .75rem;">Price Increase Year</label>
                  <select class="form-control" name="priceIncreaseYear" [(ngModel)]="view.quote.priceIncreaseYear"
                          [disabled]="!canEditQuote()">
                    <option [ngValue]="0">Select</option>
                    <option [ngValue]="d.getYearInt('YY')"
                            *ngFor="let d of view.priceIncreaseYearOptions">{{d.getYear('YYYY')}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-row">
                <div class="form-group col-6">
                  <label class="form-label">Service Start Date</label>
                  <input name="serviceStartDate" class="form-control" bsDatepicker
                         [(ngModel)]="view.quote._serviceStartDate" [disabled]="!canEditQuote()">
                </div>
                <div class="form-group col-6">
                  <label class="form-label">Bill Start Date</label>
                  <input name="billingStartDate" class="form-control" bsDatepicker
                         [(ngModel)]="view.quote._billingStartDate" [disabled]="!canEditQuote()">
                </div>
                <div class="form-group col-6">
                  <label class="form-label">Effective Date</label>
                  <input name="effectiveDate" class="form-control" bsDatepicker [(ngModel)]="view.quote._effectiveDate"
                         [disabled]="!canEditQuote()">
                </div>
                <div class="form-group col-6">
                  <label class="form-label">Exp Date</label>
                  <input name="expirationDate" class="form-control" bsDatepicker
                         [(ngModel)]="view.quote._expirationDate" [disabled]="!canEditQuote()">
                </div>
                <div class="input-group mb-3 col-12">
                  <label class="form-label col-12">Price Increase Max</label>
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{view.quote.priceIncreaseType}}</span>
                  </div>
                  <input type="number" class="form-control" name="priceIncreaseMax" pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                         step='0.01' value='0.00' [(ngModel)]="view.quote._priceIncreaseMax"
                         [disabled]="!canEditQuote()">
                  <div class="input-group-append">
                    <div class="btn-group btn-group-toggle">
                      <label class="btn" for="priceIncreaseTypeDollar"
                             [ngClass]="{'active btn-primary': view.quote.priceIncreaseType=='$', 'btn-default': view.quote.priceIncreaseType!='$'}">
                        <input id="priceIncreaseTypeDollar" type="radio" name="priceIncreaseType" value="$"
                               [disabled]="!canEditQuote()"
                               [(ngModel)]="view.quote.priceIncreaseType"> $
                      </label>
                      <label class="btn" for="priceIncreaseTypePercent"
                             [ngClass]="{'active btn-primary': view.quote.priceIncreaseType=='%', 'btn-default': view.quote.priceIncreaseType!='%'}">
                        <input id="priceIncreaseTypePercent" type="radio" name="priceIncreaseType" value="%"
                               [disabled]="!canEditQuote()"
                               [(ngModel)]="view.quote.priceIncreaseType"> %
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row animated fadeInRight">
    <div class="col">
      <div class="table-responsive-xl card mb-4">
        <h2 class="card-header m-0">
          New Service/Equipment
          <button type="button" class="label label-success pull-right" (click)="addService()" *ngIf="canEditQuote()">
            <small>Add</small>
          </button>
        </h2>
        <div class="form-row ">
            <div class="col">
              <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                  <th scope="col">Quantity</th>
                  <th scope="col">Description</th>
                  <th scope="col">Size</th>
                  <th scope="col">Material</th>
                  <th scope="col">Freq</th>
                  <th scope="col">M</th>
                  <th scope="col">T</th>
                  <th scope="col">W</th>
                  <th scope="col">Th</th>
                  <th scope="col">F</th>
                  <th scope="col">S</th>
                  <th scope="col">Su</th>
                  <th scope="col">Rate</th>
                  <th scope="col">Unit</th>
                  <th scope="col">Total</th>
                  <th scope="col">Included</th>
                  <th scope="col">Memo</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let s of view.quote.newServices; let i = index">
                  <td scope="col">{{s.quantity}}</td>
                  <td scope="col">{{s.description}}</td>
                  <td scope="col">{{s.size}}</td>
                  <td scope="col">{{s.material}}</td>
                  <td scope="col">{{s.frequency}}</td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.monday}"></i></td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.tuesday}"></i></td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.wednesday}"></i></td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.thursday}"></i></td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.friday}"></i></td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.saturday}"></i></td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.sunday}"></i></td>
                  <td scope="col">{{s.rate}}</td>
                  <td scope="col">{{s.unit}}</td>
                  <td scope="col">{{s.total}}</td>
                  <td scope="col">{{s.included}}</td>
                  <td scope="col">{{s.memo}}</td>
                  <td scope="col">
                    <app-delete-confirmation [deleteFn]="deleteService(s, i)" [icon]="'fa fa-trash'"
                                             *ngIf="canUpdateServiceFlag"></app-delete-confirmation>
                    <button type="button" class="btn  btn-warning pull-right mx-1" (click)="editService(s)"
                            *ngIf="canUpdateServiceFlag"><i class="fa fa-edit"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="row animated fadeInRight" *ngIf="view.module === 'customer'">
    <div class="col">
      <div class="table-responsive-xl card mb-4">
        <h2 class="card-header m-0">
          Old Service/Equipment
        </h2>
        <div class="form-row">
            <div class="col">
              <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                  <th scope="col">Quantity</th>
                  <th scope="col">Description</th>
                  <th scope="col">Size</th>
                  <th scope="col">Material</th>
                  <th scope="col">Freq</th>
                  <th scope="col">M</th>
                  <th scope="col">T</th>
                  <th scope="col">W</th>
                  <th scope="col">Th</th>
                  <th scope="col">F</th>
                  <th scope="col">S</th>
                  <th scope="col">Su</th>
                  <th scope="col">Rate</th>
                  <th scope="col">Unit</th>
                  <th scope="col">Total</th>
                  <th scope="col">Included</th>
                  <th scope="col">Memo</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let s of view.quote.oldServices; let i = index">
                  <td scope="col">{{s.quantity}}</td>
                  <td scope="col">{{s.description}}</td>
                  <td scope="col">{{s.size}}</td>
                  <td scope="col">{{s.material}}</td>
                  <td scope="col">{{s.frequency}}</td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.monday}"></i></td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.tuesday}"></i></td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.wednesday}"></i></td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.thursday}"></i></td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.friday}"></i></td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.saturday}"></i></td>
                  <td scope="col"><i class="fa fa-check" [ngClass]="{'fa-check': s.sunday}"></i></td>
                  <td scope="col">{{s.rate}}</td>
                  <td scope="col">{{s.unit}}</td>
                  <td scope="col">{{s.total}}</td>
                  <td scope="col">{{s.included}}</td>
                  <td scope="col">{{s.memo}}</td>
                  <td scope="col">
                    <app-delete-confirmation [deleteFn]="deleteService(s, i)" [icon]="'fa fa-trash'"
                                             *ngIf="canUpdateServiceFlag"></app-delete-confirmation>
                    <button type="button" class="btn  btn-warning pull-right mx-1" (click)="editOldService(s)"
                            *ngIf="canUpdateServiceFlag"><i class="fa fa-edit"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="row animated fadeInRight">
    <div class="col-6">
      <div class="card mb-4">
        <h2 class="card-header m-0">
          Operational Notes
          <button type="button" class="label label-success pull-right" (click)="addNote('operationsNotes', 45)"
                  *ngIf="!view.prospect.readOnly">
            <small>Add</small>
          </button>
        </h2>
        <app-note-list
          [noteList]="view.quote.operationsNotes"
          [limit]="45"
          [deletedNoteList]="view.deletedOperationsNotes">
        </app-note-list>
      </div>
    </div>
    <div class="col-6">
      <div class="card mb-4">
        <h2 class="card-header m-0">
          Contract Notes
          <button type="button" class="label label-success pull-right" (click)="addNote('contractNotes', 999)"
                  *ngIf="!view.prospect.readOnly">
            <small>Add</small>
          </button>
        </h2>
        <app-note-list
          [noteList]="view.quote.contractNotes"
          [deletedNoteList]="view.deletedContractNotes">
        </app-note-list>
      </div>
    </div>
  </div>

  <div class="row animated fadeInRight">
    <div class="col">
      <div class="card mb-4">
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col">
              <button type="button" class="btn btn-success float-left" (click)="redirectToAccount()" type="button">
                Back
              </button>
              <button type="button" class="btn btn-success float-right" type="submit"
                      [disabled]="view.prospect.readOnly">Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
