<div class="form-check form-check-inline my-1">
  <label class="form-check-label">
    <input class="form-check-input" hidden type="radio" value="{{value}}" name="{{name}}" [(ngModel)]="model" >
    <button type="button" class="btn btn-default" [ngClass]="{'btn-default': model != value, 'btn-success text-white': model == value}"  (click)="model = value; change()" [disabled]="readOnly">{{label}}</button>
  </label>
</div>
