<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs font-bold">Po Le</span>
            <span class="text-muted text-xs block">settings <b class="caret"></b></span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a class="dropdown-item" href="/">Logout</a></li>
          </ul>
        </div>
      </li>
      <li *ngFor="let state of STATES" uiSrefActive="active">
        <a uiSref="{{state.name}}">
          <i class="{{state.icon}} display-6"></i> <span class="nav-label">{{state.display}}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
