<div class="wrapper-content animated fadeInRight" [ngClass]="{'blur': pageService.loading}">
  <div class="row animated fadeInRight mb-4">
    <div class="col-md-4">
      <div class="card mb-3" style="max-height: 50%">
        <h2 class="card-header m-0">
          Events Types
        </h2>
        <div class="p-3" *ngIf="view.options.eventType != null">
          <div class="label my-1 p-2" [ngStyle]="{'background': o.color}" style="color: white;" *ngFor="let o of view.options.eventType" (click)="addEventType(o.type)">
            <i class="fa fa-plus-square"></i> {{o.description}}
          </div>
        </div>
      </div>

      <div class="card">
        <h2 class="card-header m-0" >
          Events
        </h2>
        <app-event-list [events]="view.events"
                        [options]="view.options"
                        [saveFn]="save"
                        [deleteFn]="delete"
        ></app-event-list>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <h2 class="card-header m-0">
          Event Calendar
          <button type="button" class="label label-success pull-right" (click)="editEventModal()">
            <small>Add</small>
          </button>
          <button type="button" class="label label-success pull-right mr-2" (click)="clearFilters()">
            <small>Clear Filter</small>
          </button>
          <button type="button" class="label label-success pull-right mr-2" (click)="calendarFilter()">
            <small>Filter</small>
          </button>
        </h2>
        <div *ngIf="calendarOptions" class="p-3">
          <ng-fullcalendar #ucCalendar [options]="calendarOptions" (dayClick)="dayClick($event)"
                           (eventClick)="clickEvent($event.detail)" (eventDrop)="dropEvent($event.detail)"></ng-fullcalendar>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row animated fadeInRight mb-4">-->
  <!--<div class="col-md-6">-->
  <!--<div class="card h-99">-->
  <!--<h5 class="card-header m-0">-->
  <!--Notes-->
  <!--<button type="button" class="label label-success pull-right" (click)="addNote()">-->
  <!--<small>Add</small>-->
  <!--</button>-->
  <!--</h5>-->
  <!--<app-note *ngFor="let n of notesList(); let i=index;"-->
  <!--[(note)]="notesList()[i]" [deleteFn]="deleteNote(n.noteId, i)"></app-note>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-6">-->
  <!--<div class="card h-99">-->
  <!--<h5 class="card-header m-0">-->
  <!--Events-->
  <!--</h5>-->
  <!--&lt;!&ndash;<app-event-stream [title]="'SoftpakEvent Stream'" [events]="prospectData.events"></app-event-stream>&ndash;&gt;-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</div>
