<div class="wrapper-content animated fadeInRight" [ngClass]="{'blur': pageService.loading}">
  <div class="row animated fadeInRight">
    <div class="col-12 col-xl-4">
      <div class="card mb-4">
        <h2 class="card-header m-0">
          <div class="row">
            <div [ngClass]="(view.customer.cancelled || view.customer.lockedDelinquent) ? 'col-4' : 'col-6'">{{view.customer.billingName}}</div>
            <div *ngIf="view.customer.cancelled || view.customer.lockedDelinquent" class="col-4">
              <span *ngIf="view.customer.cancelled" class="text-puke">Cancelled</span>
              <span *ngIf="view.customer.lockedDelinquent" class="pl-2 text-danger">Locked/Delinquent</span>
            </div>
            <div [ngClass]="(view.customer.cancelled || view.customer.lockedDelinquent) ? 'col-4' : 'col-6'">
              <span class="btn btn-xs btn-primary pull-right ml-2 py-0" (click)="addQuote()">Add Quote</span>
              <span class="label label-info pull-right pl-2">{{view.customer.account}}</span>
            </div>
          </div>
        </h2>
        <div class="card-body">
          <div class="row mb-2" *ngFor="let a of view.customer.addressList">
            <div class="col-12 col-lg-4 text-muted"><strong
              style="text-transform: capitalize">{{a.addressType.toLowerCase()}}</strong></div>
            <div class="col-md-8">
              <address>
                <p
                  *ngIf="a.addressType.toLowerCase() === 'service'; else billingShow">{{view.customer.serviceName}}</p>
                <ng-template #billingShow><p>{{view.customer.billingName}}</p></ng-template>
                <p class="mb-1">{{a.line1}} {{a.line2}}</p>
                <p>{{a.city}} {{a.state}} {{a.postalCode}}</p>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col">
        <div class="card mb-4">
          <div class="">
            <table class="table table-bordered text-center m-0">
              <thead>
              <tr>
                <th scope="col">0-30</th>
                <th scope="col">31-60</th>
                <th scope="col">61-90</th>
                <th scope="col">90+</th>
                <th scope="col">Unapplied</th>
                <th scope="col">Balance Due</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">{{view.customer.age01 | currency}}</th>
                <td>{{view.customer.age30 | currency}}</td>
                <td>{{view.customer.age60 | currency}}</td>
                <td>{{view.customer.age90 | currency}}</td>
                <td>{{view.customer.unapplied | currency}}</td>
                <td>{{view.customer.balanceDue | currency}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card mb-4">
          <h2 class="card-header m-0">
            Contacts
          </h2>
          <div class="card-body">
            <app-contacts-field [contacts]="view.contacts"></app-contacts-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-content animated fadeInseaRight" [ngClass]="{'blur': pageService.loading}">
  <div class="row animated fadeInRight">
    <div class="col mb-4">
      <div class="card mb-4">
        <div class="card-body">
          <div>
            <tabset>
              <tab heading="Pricing">
                <div class="card mb-4">
                  <h2 class="card-header m-0">
                    Monthly Charges
                  </h2>
                  <div class="card-body">
                    <table class="table table-bordered">
                      <tr *ngFor="let m of view.monthlyCharges">
                        <td [ngClass]="{'font-bold text-right bg-muted':m.total}">{{m.charge}}</td>
                        <td [ngClass]="{'font-bold bg-muted':m.total}">{{m.amount | currency}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="card" [hidden]="!view.pricing.showPricing">
                  <h2 class="card-header m-0">
                    Contract Pricing
                  </h2>
                  <div class="card-body">
                    <p class="text-center"
                       [hidden]="!(view.pricing.pricingList == null || view.pricing.pricingList.length == 0)">No Pricing
                      List to show</p>
                    <table class="table table-bordered"
                           [hidden]="!(view.pricing.pricingList != null && view.pricing.pricingList.length > 0)">
                      <tr>
                        <td>Description</td>
                        <td>Material</td>
                        <td>Amount</td>
                        <td>Basis</td>
                        <td>Min</td>
                        <td>Max</td>
                      </tr>
                      <tr *ngFor="let p of view.pricing.pricingList">
                        <td>{{p.description}}</td>
                        <td>{{p.material}}</td>
                        <td>{{p.price | currency}}</td>
                        <td>{{p.basis | currency}}</td>
                        <td>{{p.min | currency}}</td>
                        <td>{{p.max | currency}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </tab>
              <tab heading="Activity">
                <div class="card-body">
                  <p class="text-center" [hidden]="!(view.activity.length == 0)">There is no Activity to show</p>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" class="form-control">
                  <table mat-table [dataSource]="dataSource" matSort class="table table-striped table-bordered">
                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
                      <td mat-cell *matCellDef="let element"> {{element.date}}</td>
                    </ng-container>
                    <ng-container matColumnDef="day">
                      <th mat-header-cell *matHeaderCellDef> Day</th>
                      <td mat-cell *matCellDef="let element"> {{element.day}}</td>
                    </ng-container>
                    <ng-container matColumnDef="arrive">
                      <th mat-header-cell *matHeaderCellDef> Arr</th>
                      <td mat-cell *matCellDef="let element"> {{element.arrivalTime}}</td>
                    </ng-container>
                    <ng-container matColumnDef="depart">
                      <th mat-header-cell *matHeaderCellDef> Dep</th>
                      <td mat-cell *matCellDef="let element"> {{element.departureTime}}</td>
                    </ng-container>
                    <ng-container matColumnDef="servDelayDescription">
                      <th mat-header-cell *matHeaderCellDef> Serv/Dly</th>
                      <td mat-cell *matCellDef="let element"> {{element.delayDescription}}</td>
                    </ng-container>
                    <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef> Weight</th>
                      <td mat-cell *matCellDef="let element"> {{element.weight}}</td>
                    </ng-container>
                    <ng-container matColumnDef="bin">
                      <th mat-header-cell *matHeaderCellDef> Bin</th>
                      <td mat-cell *matCellDef="let element"> {{element.bin}}</td>
                    </ng-container>
                    <ng-container matColumnDef="size">
                      <th mat-header-cell *matHeaderCellDef> Sz/Cg</th>
                      <td mat-cell *matCellDef="let element"> {{element.size}}</td>
                    </ng-container>
                    <ng-container matColumnDef="load">
                      <th mat-header-cell *matHeaderCellDef> Load#</th>
                      <td mat-cell *matCellDef="let element"> {{element.load}}</td>
                    </ng-container>
                    <ng-container matColumnDef="route">
                      <th mat-header-cell *matHeaderCellDef> Route</th>
                      <td mat-cell *matCellDef="let element"> {{element.route}}</td>
                    </ng-container>
                    <ng-container matColumnDef="vehicle">
                      <th mat-header-cell *matHeaderCellDef> Truck</th>
                      <td mat-cell *matCellDef="let element"> {{element.vehicle}}</td>
                    </ng-container>
                    <ng-container matColumnDef="driver">
                      <th mat-header-cell *matHeaderCellDef> Driver</th>
                      <td mat-cell *matCellDef="let element"> {{element.driver}}</td>
                    </ng-container>
                    <ng-container matColumnDef="workOrder">
                      <th mat-header-cell *matHeaderCellDef> W/O#</th>
                      <td mat-cell *matCellDef="let element"> {{element.workOrder}}</td>
                    </ng-container>
                    <ng-container matColumnDef="remark">
                      <th mat-header-cell *matHeaderCellDef> Remarks</th>
                      <td mat-cell *matCellDef="let element"> {{element.remark}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[10, 20, 30, 40]" [pageSize]="20"></mat-paginator>
                </div>
              </tab>
              <tab heading="Events">
                <button type="button" class="label label-success pull-right mb-2" (click)="addEvent()">
                  <small>Add</small>
                </button>
                <app-event-list [events]="view.events"
                                [options]="view.eventOptions"
                                [saveFn]="saveEvent"
                                [deleteFn]="deleteEvent"
                ></app-event-list>
              </tab>
              <tab heading="Note Pad">
                <button type="button" class="label label-success pull-right mb-2" (click)="addNote()"
                        *ngIf="view.hasAddNoteAccess">
                  <small>Add</small>
                </button>
                <app-note-list
                  [displayAction]="false"
                  [noteList]="view.customer.notesList"
                  [deletedNoteList]="view.deletedNoteList">
                </app-note-list>
              </tab>
              <tab heading="Summary">
                <pre *ngFor="let l of view.customerReport">{{l}}</pre>
              </tab>
              <tab heading="Quotes" [active]="fromQuote">
                <div>
                  <h2 class="card-header m-0">
                    Quotes
                    <button type="button" class="label label-success pull-right" (click)="addQuote()">
                      <small>Add</small>
                    </button>
                  </h2>
                  <app-quote-list
                    [quoteList]="view.quotes"
                    [account]="view.customer"
                    [deletedQuoteList]="view.deletedQuoteList"
                    [company]="view.company"
                    [quoteOptions]="view.quoteOptions"
                    [module]="'customer'"
                  ></app-quote-list>
                  <button type="button" class="btn  btn-danger pull-right mt-2" (click)="deleteQuotes()" [disabled]="view.deletedQuoteList.length === 0">Confirm Delete</button>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
