<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let r of contacts">
    <p>
      <span *ngIf="!r.name; else showReferences">{{r.firstName}} {{r.lastName}} : {{r.title}} : <a href="mailto:{{r.email}}">{{r.email}}</a>
        <button type="button" class="btn btn-success btn-xs pull-right">
          <i class="fa fa-edit" (click)="contactRedirect(r.contactId)"></i>
        </button>
      </span>
      <ng-template #showReferences>
      {{r.name}} - {{r.ownerType}}
      <button type="button" class="btn btn-success btn-xs pull-right">
        <i class="fa fa-edit" (click)="redirect(r)"></i>
      </button>
      </ng-template>
    </p>
  </li>
</ul>
