<div id="head" class="modal-header">
  <h2 class="modal-title pull-left" *ngIf="event.eventId !== 0"> Edit Event - Event ID #{{event.eventId}} </h2>
  <h2 class="modal-title pull-left" *ngIf="event.eventId === 0">Add Event</h2>
  <button type="button" class="close pull-right" aria-label="Cancel" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row mb-2">
    <h2 class="control-label">Event </h2><br>
    <div class="col-sm-12">
      <div class="checkbox pull-left">
        <label><input type="checkbox" [(ngModel)]="event.isAllDay" [disabled]="eventStatus === 'CLOSED'"> All Day</label>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 mb-3">
      <label for="txtViewEventDescription">Event Description</label>
      <input type="text" id="txtViewEventDescription" class="form-control form-text-input" placeholder="Description"
             required
             maxlength="25" required="" [(ngModel)]="event.description" [disabled]="eventStatus === 'CLOSED'">
    </div>

    <div class="col-xs-12 col-md-4 mb-3">
      <label for="cmbViewEventType">Event Type</label>
      <select id="cmbViewEventType" name="cmbViewEventType" class="form-control" required="" [(ngModel)]="event.type"
              (change)="colour(event.type)" [disabled]="eventStatus === 'CLOSED'">
        <option value="{{e.type}}" *ngFor="let e of options.eventType">{{e.description}}</option>
      </select>
    </div>

    <div class="col-xs-12 col-md-4 mb-3">
      <label for="cmbNotificationTime">Reminder</label>
      <select id="cmbNotificationTime" name="cmbNotificationTime" class="form-control"
              [(ngModel)]="event.notificationMinutes" [disabled]="eventStatus === 'CLOSED'">
        <option value="0">None</option>
        <option value="5">5 Minutes Before</option>
        <option value="10">10 Minutes Before</option>
        <option value="15">15 Minutes Before</option>
        <option value="30">30 Minutes Before</option>
        <option value="60">1 Hour Before</option>
        <option value="120">2 Hours Before</option>
        <option value="180">3 Hours Before</option>
        <option value="240">4 Hours Before</option>
        <option value="300">5 Hours Before</option>
        <option value="360">6 Hours Before</option>
        <option value="420">7 Hours Before</option>
        <option value="480">8 Hours Before</option>
        <option value="540">9 Hours Before</option>
        <option value="600">10 Hours Before</option>
        <option value="660">11 Hours Before</option>
        <option value="720">12 Hours Before</option>
        <option value="1080">16 Hours Before</option>
        <option value="1440">1 Day Before</option>
        <option value="2880">2 Days Before</option>
        <option value="4320">3 Days Before</option>
        <option value="5760">4 Days Before</option>
        <option value="10080">1 Week Before</option>
        <option value="20160">2 Weeks Before</option>
      </select>
    </div>
    <hr>
    <div class="col-xs-12 col-md-6 mb-3">
      <label for="dteStartDate" style="margin-bottom: 2.1rem;">Start Date</label>
      <div class="input-group date">
        <div class="input-group-addon" (click)="fDateOpen = !fDateOpen"><i class="fa fa-calendar"></i></div>
        <input type="text" id="dteStartDate" class="form-control input-datepicker" placeholder="Date" required=""
               bsDatepicker [(ngModel)]="event._startTimestamp" (bsValueChange)="validateFromDates($event)" [isOpen]="fDateOpen" [disabled]="eventStatus === 'CLOSED'"  />
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <label [hidden]="event.isAllDay">Start Time</label>
      <timepicker [(ngModel)]="event._startTimestamp" [hidden]="event.isAllDay" [disabled]="eventStatus === 'CLOSED'"></timepicker>
    </div>
    <hr>

    <div class="col-xs-12 col-md-6 mb-3">
      <label for="dteEndDate" style="margin-bottom: 2.1rem;">End Date</label>
      <div class="input-group date">
        <div class="input-group-addon" (click)="dDateOpen = !dDateOpen"><i class="fa fa-calendar"></i></div>
        <input type="text" id="dteEndDate" class="form-control input-datepicker" placeholder="Date" required=""
               bsDatepicker [(ngModel)]="event._endTimestamp" (bsValueChange)="validateToDates($event)"[isOpen]="dDateOpen" [disabled]="eventStatus === 'CLOSED'" />
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <label [hidden]="event.isAllDay">End Time</label>
      <timepicker [(ngModel)]="event._endTimestamp" [hidden]="event.isAllDay" [disabled]="eventStatus === 'CLOSED'"></timepicker>
    </div>
    <div class="col-sm-12"><span class="error" *ngIf="!formValidFlag">Fix the time and date of the Event.</span></div>
    <hr>

    <div class="col-xs-12 col-md-4">
      <label for="cmbViewEventSource">Source</label>
      <select id="cmbViewEventSource" name="source" class="form-control" [(ngModel)]="event.source" [disabled]="eventStatus === 'CLOSED'">
        <option> </option>
        <option value="{{s.type}}" *ngFor="let s of options.source">{{s.description}}</option>
      </select>
    </div>
    <div class="col-xs-12 col-md-4">
      <label for="cmbViewEventForUser">For User</label>
      <select id="cmbViewEventForUser" name="eventUser" class="form-control" required="" [(ngModel)]="event.eventUser" [disabled]="eventStatus === 'CLOSED'">
        <option value="{{u.userid}}" *ngFor="let u of options.users">{{u.userid}} - {{u.name}}</option>
      </select>
    </div>
    <div class="col-xs-12 col-md-4">
      <label for="cmbViewEventStatus">Event Status</label>
      <select id="cmbViewEventStatus" name="cmbViewEventStatus" class="form-control" [(ngModel)]="event.status" >
        <option value="">Open</option>
        <option value="CLOSED">Closed</option>
      </select>
    </div>
  </div>
  <div class="row mb-2">
    <h2 class="control-label">Linked Customer/Prospect </h2>
    <div class="col-sm-12 pl-0">
      <p>
        <button type="button" class="btn btn-primary " (click)="search()"><i class="fa fa-link"></i></button>
        <button type="button" class="btn btn-danger  mx-1" (click)="unLinkAccount()" *ngIf="event.linkedDisplay.length > 0"><i class="fa fa-remove"></i></button>
        {{ event.linkedDisplay }} <span style="color: red;cursor: pointer;"> </span>
      </p>
    </div>
  </div>
  <div class="row mb-2">
    <h2 class="control-label col mb-2 p-0">
      Notes
      <button type="button" class="btn  btn-info pull-right" (click)="addNote()"><i class="fa fa-plus"></i> </button>
    </h2>
    <div class="col-12 table-responsive">
      <app-note-list
        [(noteList)]="event.notesList"
        [deletedNoteList]="event.deletedNotesList">
      </app-note-list>
      <span class="text-danger" *ngIf="noteListValidationFlag">Notes should not be empty.</span>
    </div>
  </div>
</div>
<div class="modal-footer btn-toolbar" [affix]="'modal'">
  <app-delete-confirmation [deleteFn]="deleteEvent" *ngIf="event.eventId > 0" class="mr-2 mb-1"></app-delete-confirmation>
  <button type="button" class="btn btn-info mr-2 mb-1" (click)="exportCalendar()">Export to Calendar</button>
  <button type="button" class="btn btn-info mr-2 mb-1" (click)="forward()">Forward Event</button>
  <button type="button" class="btn btn-warning mr-2 mb-1" (click)="bsModalRef.hide()">Cancel</button>
  <button type="button" class="btn btn-success mb-1" (click)="save()">Save</button>
</div>
