<form class="wrapper-content animated fadeInRight" [ngClass]="{'blur': pageService.loading}" ngNativeValidate (submit)="save()">
  <div class="row animated fadeInRight">
      <div [ngClass]="isModal() ? 'w-100':'col-8'">
        <div *ngIf="isModal()" class="row">
         <div class="col-6 pl-md-4">
           <h3>Create New Contact</h3>
         </div>
          <div class="col-md-6 pr-md-4">
            <button type="button" class="close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <h2 *ngIf="!isModal()" class="card-header m-0">
              Contact Detail <span class="label label-info pull-right">ID: {{view.contact.contactId}}</span>
            </h2>
            <h3 *ngIf="isModal()" class="card-header m-0">
              Contact Detail
            </h3>
            <div class="card-body">
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label">First Name</label>
                  <input class="form-control" name="firstName" [(ngModel)]="view.contact.firstName">
                </div>
                <div class="form-group col">
                  <label class="form-label">Last Name</label>
                  <input class="form-control" name="lastName" [(ngModel)]="view.contact.lastName">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label">Business Name</label>
                  <input class="form-control" name="businessName" [(ngModel)]="view.contact.businessName">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label">Title</label>
                  <input class="form-control" name="title" [(ngModel)]="view.contact.title">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label">Email Address</label>
                  <input class="form-control" name="email" [(ngModel)]="view.contact.email">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <h2 class="card-header m-0">
              Notes
              <button type="button" class="label label-success pull-right" (click)="addNote()">
                <small>Add</small>
              </button>
            </h2>
            <app-note-list
              [noteList]="view.contact.notesList"
              [deletedNoteList]="view.deletedNoteList">
            </app-note-list>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card mb-4">
            <h2 class="card-header m-0">
              References
            </h2>
            <div class="card-body">
              <app-contacts-field [contacts]="view.references"></app-contacts-field>
            </div>
          </div>
        </div>
      </div>

      <div [ngClass]="isModal() ? 'w-100':'col-4 mb-4'">
        <div class="col mb-4">
          <div class="card">
            <h2 class="card-header m-0">
              Phone
              <button type="button" class="label label-success pull-right" (click)="addPhone()">
                <small>Add</small>
              </button>
            </h2>
            <app-phone-list [phoneList]="view.contact.phoneList"
                            [deletedPhoneList]="view.deletedPhoneList"
                            [phoneTypeList]="view.getOptions('phoneType')">
            </app-phone-list>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <h2 *ngIf="!isModal()" class="card-header m-0">
              Address
            </h2>
            <h2 *ngIf="isModal()" class="card-header m-0">
              Address
              <button type="button" class="label label-success pull-right" (click)="addAddress()"><small>Add</small></button>
            </h2>
            <div class="card-body">
              <app-address-list [addressList]="view.contact.addressList"
                                [deleteAddressList]="view.deletedAddressList"
                                [addressTypeList]="view.getOptions('addressType')"
                                [fixedAddressType]="false">
              </app-address-list>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h2 class="card-header m-0">
              Misc Variables
            </h2>
            <app-misc-var-field *ngFor="let m of view.getOptions('miscVariables'); let i=index"
                                [(miscVar)]="view.getOptions('miscVariables')[i]"></app-misc-var-field>
          </div>
        </div>
      </div>
  </div>

  <div class="row animated fadeInRight">
    <div class="col">
      <div class="card mb-4">
        <div class="card-body text-right">
          <div class="form-row">
            <div class="form-group col">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
