<form ngNativeValidate (submit)="emailPdf()">
<div class="modal-header">
  <h2 class="modal-title pull-left">Email Quote PDF</h2>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group col mb-3">
    <label>Email</label>
    <input class="form-control" type="email" name="email" [(ngModel)]="email">
  </div>

  <div class="form-group col" *ngIf="quoteStatuses.length">
    <label class="form-label">Update Status</label>
    <select class="form-control" name="status" [(ngModel)]="quote.status"
            [disabled]="!canUpdateStatus()">
      <option *ngFor="let obj of quoteStatuses" [value]="obj.value"
              [disabled]="obj.value == '9'">{{obj.display}}</option>
    </select>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="bsModalRef.hide()">Cancel</button>
  <button type="submit" class="btn btn-success" [disabled]="email.length == 0">Email</button>
</div>
</form>
