<div id="page-wrapper" class="gray-bg">
  <app-top-nav></app-top-nav>
  <div class="loading-backdrop" [hidden]="!pageService.loading">
    <button type="button" class="btn  btn-warning loading-box">
      <span class="fa fa-spinner loading-animate"></span>
      Loading...
    </button>
  </div>
  <ui-view></ui-view>
  <app-footer></app-footer>
</div>
