<form class="row animated fadeInRight" #spForm="ngForm"
      [validateInput]="['companyNumber', 'customerNumber', 'lastName', 'firstName',
                         'number', 'street', 'city', 'state', 'zip']" (submit)="search()">
  <div class="col">
    <div class="card mb-4">
      <h2 class="card-header m-0">
        Search
      </h2>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md" *ngIf="sv.searchTypeDisplay">
            <span *ngFor="let st of searchTypeOpt | keyvalue">
              <app-radio name="custSearchType" [value]="st.key" [(model)]="sv.sf.searchType"
                         [label]="st.value" (click)="sv.clearForm(sv.sf.searchType)" (modelChange)="getPrevious()">
              </app-radio>
            </span>
          </div>
        </div>
        <div class="form-row" *ngIf="sv.sf.searchType == 'CUSTOMERS'">
          <div class="col-md alert alert-danger text-center" *ngIf="spForm.dirty && spForm.controls['companyNumber']?.hasError('companyRequired')">
            If Customer # entered, must also enter Company ID.
          </div>
          <div class="col-md alert alert-danger text-center" *ngIf="spForm.dirty && spForm.controls['companyNumber']?.hasError('additionalCriteriaRequired')">
            If company entered, additional search criteria is needed.
          </div>
          <div class="col-md alert alert-danger text-center" *ngIf="spForm.dirty && spForm.controls['companyNumber']?.hasError('searchCriteriaRequired')">
            Search criteria is needed.
          </div>
        </div>
        <div [ngSwitch]="sv.sf.searchType">
          <div *ngSwitchCase="'CONTACTS'">
            <div class="form-row">
              <div class="form-group col">
                <label class="form-label">First Name</label>
                <input class="form-control" name="firstName" [required]="sv.sf._firstName.length>0"
                       [(ngModel)]="sv.sf._firstName">
              </div>
              <div class="form-group col">
                <label class="form-label">Last Name</label>
                <input class="form-control" name="lastName" [(ngModel)]="sv.sf._lastName">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label class="form-label">Business Name</label>
                <input class="form-control" name="businessName" [(ngModel)]="sv.sf._businessName">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="form-label">Address Number</label>
                <input class="form-control" name="addressNumber" [(ngModel)]="sv.sf._number">
              </div>
              <div class="form-group col-md">
                <label class="form-label">Address Street</label>
                <input class="form-control" name="street" [(ngModel)]="sv.sf._street">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12 col-lg">
                <label class="form-label">City</label>
                <input name="city" class="form-control" [(ngModel)]="sv.sf._city">
              </div>
              <div class="form-group col-md-8 col-lg-4">
                <label class="form-label">State/Province</label>
                <select class="form-control" [(ngModel)]="sv.sf.state" name="state">
                  <option value="">Select state</option>
                  <optgroup label="US">
                    <option *ngFor="let s of states">{{s}}</option>
                  </optgroup>
                  <optgroup label="Canada">
                    <option *ngFor="let s of provCAN">{{s}}</option>
                  </optgroup>
                </select>
              </div>
              <div class="form-group col-md-4 col-lg-3">
                <label class="form-label">Zip/Postal Code</label>
                <input name="zip" class="form-control" [(ngModel)]="sv.sf._zip">
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'PROSPECTS'">
            <div class="form-row">
              <div class="form-group col">
                <label class="form-label">Business Name</label>
                <input class="form-control" name="businessName" [(ngModel)]="sv.sf._businessName">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="form-label">Address Number</label>
                <input class="form-control" name="addressNumber" [(ngModel)]="sv.sf._number">
              </div>
              <div class="form-group col-md">
                <label class="form-label">Address Street</label>
                <input class="form-control" name="street" [(ngModel)]="sv.sf._street">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12 col-lg">
                <label class="form-label">City</label>
                <input name="city" class="form-control" [(ngModel)]="sv.sf._city">
              </div>
                <div class="form-group col-md-8 col-lg-4"><label class="form-label">State/Province</label>
                  <select class="form-control" [(ngModel)]="sv.sf.state" name="state">
                    <option value="">Select state</option>
                    <optgroup label="US">
                      <option *ngFor="let s of states">{{s}}</option>
                    </optgroup>
                    <optgroup label="Canada">
                      <option *ngFor="let s of provCAN">{{s}}</option>
                    </optgroup>
                  </select>
                </div>
                <div class="form-group col-md-4 col-lg-3">
                  <label class="form-label">Zip/Postal Code</label>
                  <input name="zip" class="form-control" [(ngModel)]="sv.sf._zip">
                </div>
            </div>
          </div>
          <div *ngSwitchCase="'CUSTOMERS'">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="form-label">Type</label>
                <select class="form-control" [(ngModel)]="sv.sf.searchBy" name="searchBy">
                  <option value="A">All</option>
                  <option value="B">Billing</option>
                  <option value="S">Service</option>
                </select>
              </div>
             <div class="form-group col-md-2 offset-md-2">
                <label class="form-label">Company</label>
                <select class="form-control" name="companyNumber" [(ngModel)]="sv.sf._company" [disabled]="!sv.canEditCompany">
                  <option value="">&nbsp;</option>
                 <option *ngFor="let obj of sv.getOptions('companies')" [value]="obj.value">{{obj.display}}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label class="form-label">Customer #</label>
                <input class="form-control" name="customerNumber" [(ngModel)]="sv.sf._customerNumber">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label class="form-label">Business/Last Name</label>
                <input class="form-control" name="lastName" [(ngModel)]="sv.sf._lastName" >
              </div>
              <div class="form-group col">
                <label class="form-label">First Name</label>
                <input class="form-control" name="firstName" [(ngModel)]="sv.sf._firstName">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="form-label">Address Number</label>
                <input class="form-control" name="number" [(ngModel)]="sv.sf._number">
              </div>
              <div class="form-group col-md">
                <label class="form-label">Address Street</label>
                <input class="form-control" name="street" [(ngModel)]="sv.sf._street">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12 col-lg">
                <label class="form-label">City</label>
                <input name="city" class="form-control" [(ngModel)]="sv.sf._city">
              </div>
              <div class="form-group col-md-8 col-lg-4">
                <label class="form-label">State/Province</label>
                <select class="form-control" [(ngModel)]="sv.sf.state" name="state">
                  <option value="">Select state</option>
                  <optgroup label="US">
                    <option *ngFor="let s of states">{{s}}</option>
                  </optgroup>
                  <optgroup label="Canada">
                    <option *ngFor="let s of provCAN">{{s}}</option>
                  </optgroup>
                </select>
              </div>
              <div class="form-group col-md-4 col-lg-3">
                <label class="form-label">Zip/Postal Code</label>
                <input name="zip" class="form-control" [(ngModel)]="sv.sf._zip">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                    <app-checkbox [label]="'Omit Cancelled Customers'"
                          [(model)]="sv.sf._omit"></app-checkbox>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'QUOTES'">
            <div class="form-group col-md-4 col-lg-3">
              <label class="form-label">Quote ID</label>
              <input name="quoteId" class="form-control" [(ngModel)]="sv.sf.quoteId" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col text-right">
            <button type="button" class="btn btn-warning mr-2" *ngIf="bsModalRef != null" (click)="bsModalRef.hide()">
              Close
            </button>
            <button type="button" class="btn btn-warning mr-2" (click)="sv.clearForm(sv.sf.searchType)">Clear</button>
            <button type="submit" class="btn btn-success" [disabled]="sv.sf.searchType == 'CUSTOMERS' && (spForm.controls['companyNumber']?.hasError('searchCriteriaRequired')
                                                                      || spForm.controls['companyNumber']?.hasError('additionalCriteriaRequired')
                                                                      || spForm.controls['companyNumber']?.hasError('companyRequired'))">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
