  <table mat-table [dataSource]="dataSource" matSort class="table table-striped table-bordered table-responsive-sm">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-160"> Date</th>
      <td mat-cell *matCellDef="let element"> {{getDate(element.noteTimestamp)}}</td>
    </ng-container>
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  class="w-20"> Time</th>
      <td mat-cell *matCellDef="let element"> {{getTime(element.noteTimestamp)}}</td>
    </ng-container>
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-30"> Code</th>
      <td mat-cell *matCellDef="let element"> {{element.noteCode}}</td>
    </ng-container>
    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Note</th>
      <td mat-cell *matCellDef="let element" class="word-wrap"> {{element.note}}</td>
    </ng-container>
    <ng-container matColumnDef="added">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-80"> Added By</th>
      <td mat-cell *matCellDef="let element"> {{element.createdBy}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">&nbsp;</th>
      <td mat-cell *matCellDef="let element; let i=index" class="p-1">
        <app-note
          [displayAction]="displayAction"
          [(note)]="noteList[i]"
          [limit]="limit"
          [deleteFn]="deleteNote(element.noteId || element.lineNumber, i)"></app-note>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>

